:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.5; */
  /* font-weight: 400; */

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  /* gap: 2rem; */
  /* padding: 2rem; */
  /* padding-bottom: 11.3rem; */
}

body {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.qr-code {
    position: absolute; /* 必ず最前面に表示させるためにpositionをabsoluteに */
    top: 17vmin; /* 位置を調整します */
    left: 17vmin;
    width: 30vmin; /* サイズを調整します */
    transform: translate(-50%, -50%); /* 中央揃え */
    z-index: 9999; /* z-indexを高めに設定して最前面に配置 */
}

.reveal pre code.monaco {
    min-height: 60vh;
    padding: 0;
    padding-top: 3px;
    background-color: white;
}

.reveal pre code.monaco_with {
    min-height: 30vh;
    padding: 0;
    padding-top: 3px;
    background-color: white;
}
